body {
    font-family: Arial, sans-serif;
    background-color: #acbccd; 
    color: #004d40; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b; 
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    position: center;
    text-align: center;
}

h1, h2 {
    color: #004d40; 
    text-align: center;
}

blockquote {
    border-center: 4px solid #00796b;
    margin: 20px 0;
    padding-left: 20px;
    font-style: italic;
    text-align: center;
}

.responsive {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #00796b; 
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
